 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//Variables

//Mix Ins
@mixin center-content() {
  margin: 0 auto;
  width: 1110px;
}
//Main Styles



* {
  margin: 0;
  padding: 0;
  &:focus {
    outline: 0;
  }
}

ul {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  @include center-content();

}

header {
  height: 75px;
  border-bottom: 1px solid #333;
  text-decoration: none;

  .logo {
    position: absolute;
    float: left;
    font-size: 7rem;

    z-index: 1;
    max-height: 70px;

    &:hover .red, &:hover .green, &:hover .black {
      opacity: 1;
      transition: .5s ease-in-out;
    }

    a {
      color: lightgrey;
      }
    }

  }
  .red {
    opacity: 0;
    z-index: -1;
    background-color: red;
    width: 11px;
    height: 11px;
    position: relative;
    left: 54px;
    bottom: 47px;
  }

  .green {
    opacity: 0;
    z-index: -1;
    background-color: green;
    width: 11px;
    height: 11px;
    position: relative;
    left: 45px;
    bottom: 47px;
  }

  .black {
    opacity: 0;
    z-index: -1;
    background-color: black;
    width: 26px;
    height: 26px;
    position: relative;
    left: 7px;
    bottom: 71px;
  }

  .nav-list{
    float: right;
    display: inline-block;
    font-size: 2.6rem;
    padding-top: 14px;

    a {
      color: lightgrey;
      line-height: 44px;
      -webkit-perspective: 1000px;
      perspective: 1000px;

      span {
        position: relative;
        display: inline-block;
        padding: 0 14px;
        background: white;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }
    }

    ul li {
      display: inline;

      span {
        font-size: 1.1rem;
        text-align: center;
      }

      .first {
        font-size: 2.8rem;
      }

      .second {
        font-size: 2.8rem;
      }

      .third {
        font-size: 2.8rem;
      }

      a:hover {
        color: grey;
      }
    }
  }


.csstransforms3d .nav-list a span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: grey;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.nav-list a:hover span,
.nav-list a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .nav-list a:hover span::before,
.csstransforms3d .nav-list a:focus span::before {
  background: white;
}




































































.top-main{
  @include outer-container;
  max-width: inherit;


  .top-image{
      width:1110px;
      height:409px;
      padding:20px;
      border:1px solid gray;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
      background: black;
    }
    #slider{
      overflow: hidden;
      position:relative;
      height:350px;
      top:auto;
    }
    #slides{
      position: relative;
      height: auto;
      list-style: none;
      overflow: hidden;
      float: left;
      /*Chrom default padding for ul is 40px */
      padding:0px;
      margin:0px;
    }
    #slides li{
      position: relative;
      float: left;
    }
    .nvgt{
      position:absolute;
      top: 120px;
      height: 50px;
      width: 30px;
      opacity: 0.6;
    }
    .nvgt:hover{
      opacity: 0.9;
    }
    #prev{
      background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/prev.png') no-repeat center;
      left: 0px;
    }
    #next{
      background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/next.png') no-repeat center;
      right: 0px;
    }


  .bottom-image{
    padding-top:10px;


    .left-bottom{
      height: 239px;
      font-size: 2rem;
      text-align: center;
      background-color:HSLA(0, 0%, 92%, 1);
      @include span-columns(4);
    }
    .latestNews{
      padding-top:5px;
    }

    .post{
        float:left;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 200px;
        font-size: 1.2rem;
      }

    .center-bottom{
      background-color:HSLA(0, 0%, 92%, 1);
      height: 239px;
      font-size: 2rem;
      text-align: center;
      @include span-columns(4);
        img {
          display: block;
          height: 144px;
          margin-right: auto;
          margin-left: auto;
        }
        .description{
        text-align:left;
        }
        .price{
          font-size: 1.6rem;
        }
    }

    .right-bottom{
      @include span-columns(4);
      height: 253px;
      background-color: gray;
      iframe{
        position: relative;
        top: 20px;
        left: 47px;
      }
      span.address{
        position: relative;
        white-space: nowrap;
        top: 28px;
        left: 57px;
      }
      span.phoneNum{
        position: relative;
        top: 45px;
        right: 83px;
      }

      img {
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}












































































































































































.main-body {

  @include center-content();
  @include outer-container();
  max-width: 100%;

  @include span-columns(12);


}
.left-body{

  @include span-columns(8);

  font-size: 1.6rem;

  img{
    width:100%;
  }

}
.menuHeadings{
  float: left;
  font-size: 2rem;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  padding: 10px 0px;
}
#menu_list{
  line-height: 20px;
}
.itemName{
  clear:both;
  padding-top:15px;
  float:left;
}
.price{
  padding-top:15px;
  float:right;
}
.description{
  clear:both;
  height: 65px;
  float: left;
  width: 80%;
  padding-top: 15px;
  font-size: 1.1rem;
  line-height: 16px;
}
.ratings{
  margin-top: 15px;
  // padding-top:15px;
  float: right;
}
.allergies{
  float:left;
  color:red;
}
.favorite{
  padding-left:5px;
  float:left;
  color:blue;
}
.bottle{
  padding-left:5px;
  float:left;
  color:brown;
}
.draught{
  padding-left:5px;
  float:left;
  color:HSLA(40, 88%, 64%, 1);
}
.online{
  padding-left:5px;
  float:left;
  color:purple;
}
.multiplayer{
  padding-left:5px;
  float:left;
  color:green;
}
.rating{
  padding-left:5px;
  float:left;
  color:orange;
}
.platform{
  padding-left:5px;
  float:left;
  color:HSLA(348, 89%, 54%, 1);
}
.spicy{
  padding-left:5px;
  float:left;
  color:orange;
}
.vegan{
  padding-left:5px;
  float:left;
  color:green;
}

.right-body{
  @include span-columns(4);
  border: 0.1em solid lightgrey;
  border-radius: 3px;

  img {
    display: block;
    margin:5px auto;
    // margin-left: auto;
    // margin-right: auto;
    padding:5px;
    border:1px solid lightgrey;
  }
}



.tabs {
  width: 100%;
  display: inline-block;

}

.tab-links:after {
  display: block;
  clear: both;
  content: "";
}

.tab-links li {
        // padding-bottom: 1em;
        padding-left: 1em;
        float:left;
        // width: 10em;
        // border:0.1em solid lightgrey;
        margin: 0px 5px;

}
.tab-links a {
  padding: 9px 15px;
  display: inline-block;
  border-radius: 3px 3px 0px 0px;
  background: #7fb5da;
  font-size: 1.6rem;
  font-weight: 600;
  transition:all linear 0.15s;
  color: #333;
  text-decoration: none;
            font-size:1.6rem;
}

.tab-links a:hover {
  background: #a7cce5;
  text-decoration: none;
}

li.active a, li.active a:hover {
          background: blue;
          color: #4c4c4c;
        }

.tab-body{
  padding: 15px;
  border-radius: 3px;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
  clear:both;
  float:left;
  border: 0.1em solid lightgrey;

  .tab {
    display: none;
  }

  .tab.active {
    display: block;
  }
}



.tab-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

        .tab {
            display:none;
        }

        .tab.active {
            display:block;
        }

.itemName{
  font-size: 1.6rem;
}
