 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//Variables

//Mix Ins
@mixin center-content() {
  margin: 0 auto;
  width: 1110px;
}
//Main Styles



* {
  margin: 0;
  padding: 0;
  &:focus {
    outline: 0;
  }
}

ul {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  @include center-content();

}

header {
  height: 75px;
  border-bottom: 1px solid #333;
  text-decoration: none;

  .logo {
    position: absolute;
    float: left;
    font-size: 7rem;
    z-index: 1;
    max-height: 70px;
    
    &:hover .red, &:hover .green, &:hover .black {
      opacity: 1;
      transition: .5s ease-in-out;

    }

    a {
      color: lightgrey;
      }
    }

  }
  .red {
    opacity: 0;
    z-index: -1;
    background-color: red;
    width: 11px;
    height: 11px;
    position: relative;
    left: 54px;
    bottom: 47px;
  }

  .green {
    opacity: 0;
    z-index: -1;
    background-color: green;
    width: 11px;
    height: 11px;
    position: relative;
    left: 45px;
    bottom: 47px;
  }

  .black {
    opacity: 0;
    z-index: -1;
    background-color: black;
    width: 26px;
    height: 26px;
    position: relative;
    left: 7px;
    bottom: 71px;
  }

  .nav-list{
    float: right;
    display: inline-block;
    font-size: 2.6rem;
    padding-top: 14px;

    a {
      color: lightgrey;
      line-height: 44px;
      -webkit-perspective: 1000px;
      perspective: 1000px;

      span {
        position: relative;
        display: inline-block;
        padding: 0 14px;
        background: white;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }
    }

    ul li {
      display: inline;

      span {
        font-size: 1.1rem;
        text-align: center;
      }

      .first {
        font-size: 2.8rem;
      }

      .second {
        font-size: 2.8rem;
      }

      .third {
        font-size: 2.8rem;
      }

      a:hover {
        color: grey;
      }
    }
  } 


.csstransforms3d .nav-list a span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: grey;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.nav-list a:hover span,
.nav-list a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .nav-list a:hover span::before,
.csstransforms3d .nav-list a:focus span::before {
  background: white;  
}




































































.top-main{
  @include outer-container;
  max-width: inherit;

  .top-image{
    #slider{
      width: 1110px;
      height: 409px;
      overflow: hidden;
    }

    ul.slides{
      display: block;
      width: 5550px;
      height: 409px;
      margin: 0;
      padding: 0;
      float: left;
    }

    li.slide{
      float: left;
      list-style-type: none;
      width: 1110px;
      height: 409px;
    }
  }


  .bottom-image{

    .left-bottom{
      @include span-columns(4);
      img {
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
    }

    .center-bottom{
      @include span-columns(4);
      img {
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
    }
    .right-bottom{
      @include span-columns(4);
      img {
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}












































































































































































.main-body {
  @include center-content();
  @include outer-container();
  max-width: 100%;

}
.left-body{
  
  @include span-columns(9);

  font-size: 1.6rem;


}
.right-body{
  @include span-columns(3);
}

.tab-links li {
        padding-left: 1em;
        float:left;
        width: 10em;
        border:0.1em solid lightgrey;
}
.tab-links a {
  color: #333;
  text-decoration: none;
            font-size:1.6rem;
}
.tab-body{
  clear:both;
  float:left;
}
.tab-content {
    }
.tab-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }





