 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//Variables

//Mix Ins
@mixin center-content() {
  margin: 0 auto;
  width: 1110px;
}
//Main Styles



* {
  margin: 0;
  padding: 0;
  &:focus {
    outline: 0;
  }
}

ul {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  @include center-content();

}

header {
  height: 75px;
  border-bottom: 1px solid #333;

  .logo{
    float: left;
    font-size: 7rem;
    a {
      color: lightgrey;
      &:hover {
        color: grey;
      }
    }
  }
  .nav-list{
    float: right;
    display: inline-block;
    font-size: 2.6rem;
    padding-top: 28px;

    a {
      color: lightgrey;
    }

    ul li {
      display: inline;


      a:hover {
        color: grey;
      }

    }
  }
}

//test







































































.top-main{
  @include outer-container;
  background-color: red;
  max-width: inherit;

  .bottom-image{



    .left-bottom{
      @include span-columns(4);
      background-color: green;
      img {
        display: block;
        margin-right: auto;
        margin-left: auto;

      }
    }

    .center-bottom{
      @include span-columns(4);
      background-color: blue;
      img {
        display: block;
        margin-right: auto;
        margin-left: auto;

      }
    }
    .right-bottom{
      @include span-columns(4);
      background-color: yellow;
      img {
        display: block;
        margin-right: auto;
        margin-left: auto;

      }
    }
  }
}













































































































































































.left-body{
  @include span-columns(9);
  background-color:orange;
}
.right-body{
  @include span-columns(3);
  background-color:pink;
}
